body{
    background-color: crimson;
}
h1,h2{
    font-size: 40px;
    color: white;
    text-align: center
}
div p{
    width: 2px;
    color: white;
    text-align: center;
}
.PHOTOGALERY:hover{
    border: 2px solid lightblue;
}
.PHOTOGALERY2:hover{
    border: 2px solid lightblue;
}
.PHOTOGALERY3:hover{
    border: 2px solid lightblue;
}
.PHOTOGALERY img{
width: 200px;
height: auto;
}

.PHOTOGALERY2 img{
width: 200px;
height: auto;
}
.PHOTOGALERY3 img{
width: 200px;
height: auto;
}

.PHOTOGALERY {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    
}

.PHOTOGALERY3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.PHOTOGALERY2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}


.PHOTOGALERY>div{
    text-align: center;
    padding: 10px;
}
.PHOTOGALERY2>div{
    text-align: center;
    padding: 10px;
}
.PHOTOGALERY3>div{
    text-align: center;
    padding: 10px;

}
img{
    line-height:40px;
}
